.modal {
  position: fixed;
  z-index: 100;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.modal-wrapper {
  position: relative;
  display: flex;
}

.modal-image {
  object-fit: cover;
  height: 90vh;
  width: auto;
}

.modal-content {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  min-width: 25rem;
  background: white;
}

.modal-content-img_name {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  border-bottom: 0.01rem solid lightgray;
  flex: 1;
}

.modal-content-profile_img {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}

.modal-content-profile_name {
  font-size: 2rem;
  margin-left: 1rem;
  color: black;
}

.modal-description {
  display: flex;
  flex: 7;
}

.modal-function {
  display: flex;
  flex: 0.8;
  justify-content: space-around;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .modal-wrapper {
    flex-direction: column;
  }
  .modal-image {
    height: 60vh;
  }
}
