.post-modal {
  z-index: 50;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  word-break: break-all;
}

.post-modal-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: white;
}
.post-modal-image-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.post-modal-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.post-modal-image {
  width: auto;
  height: calc(20rem + 20vw);
  max-height: 80vh;
  object-fit: contain;
}

.post-modal-content-wrapper {
  height: calc(20rem + 20vw);
  display: flex;
  flex-direction: column;
}

.post-modal-content {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  background: white;
  min-width: 20rem;
  display: flex;
  flex-direction: column;
}

.post-modal-content-img_name {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  border-bottom: 0.01rem solid lightgray;
}

.post-modal-content-profile_img {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}

.post-modal-content-profile_name {
  font-size: 2rem;
  margin-left: 1rem;
  color: black;
}

.post-modal-description {
  display: flex;
  flex: 1;
  padding: 1rem 1rem;
  font-size: 1.4rem;
}

.post-modal-date {
  text-align: right;
  font-size: 1.2rem;
  color: #8e8e8e;
  padding-right: 0.5rem;
  border-bottom: 0.01rem solid lightgray;
}

.post-modal-function {
  padding-top: 1rem;
  transform: translate(-4%);

  padding-bottom: 3rem;
  display: flex;

  justify-content: space-around;
  align-items: center;
}

.post-modal-function li img {
  width: 2.4rem;
  height: 2.4rem;

  display: block;

  position: absolute;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.post-modal-function div img {
  width: 2.4rem;
  height: 2.4rem;

  display: block;

  position: absolute;
}

.post-modal-function li > img:nth-child(1) {
  /* first <img> child of <div> */
  filter: alpha(opacity=100); /* IE stuff */
  opacity: 1;
  z-index: 2;
}
.post-modal-function li > img:nth-child(2) {
  /* second <img> child of <div> */
  filter: alpha(opacity=0); /* IE stuff */
  opacity: 0;
  z-index: 1;
}

.post-modal-function li:hover > img:nth-child(1) {
  filter: alpha(opacity=0);
  opacity: 0;
  z-index: 1;
}
.post-modal-function li:hover > img:nth-child(2) {
  filter: alpha(opacity=100);
  opacity: 1;
  z-index: 2;
}

.pointer {
  cursor: pointer;
}

.likes-how-many {
  position: absolute;
  color: #fe5afc;
  font-size: 1.5rem;
  font-weight: 700;
  transform: translate(300%, 10%);
}

@media screen and (max-width: 1024px) {
  .post-modal-wrapper {
    flex-direction: column;
  }
  .post-modal-image {
    width: calc(20rem + 35vw);
    height: auto;
    max-height: 50vh;
    object-fit: contain;
  }

  .post-modal-content-wrapper {
    height: auto;
  }

  .post-modal-content {
    width: calc(20rem + 35vw);
    height: 100%;
  }

  .post-modal-function {
    padding-top: 1rem;
  }
  .post-modal-function li img {
    width: 2rem;
    height: 2rem;
  }
}
