.user-profile {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.user-profile_wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 2rem;
}

.user-profile_image {
  width: 7.7rem;
  height: 7.7rem;
  border-radius: 50%;
  object-fit: cover;
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  filter: grayscale(0%);
}

.user-profile_image_access {
  cursor: pointer;
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  filter: grayscale(0%);
}

.user-profile_image_access:hover {
  -webkit-filter: grayscale(80%);
  -moz-filter: grayscale(80%);
  filter: grayscale(80%);
  transition: all 0.5s ease;
}

.user-profile_status {
  padding-left: 2rem;
  text-align: left;
  flex-direction: column;
}

.user-profile_nickname {
  font-size: 2rem;
  padding: 1rem;
}
.user-profile_posts {
  font-size: 2rem;
  padding: 1rem;
  font-weight: 300;
}
.user-profile_description {
  font-size: 2rem;
  padding: 0rem 2rem;
  padding-bottom: 1rem;
  display: flex;
  align-items: center;
}

.user-profile_edit li img {
  transform: translate(-150%, -50%);
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  display: block;
  align-items: center;

  position: absolute;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.user-profile_edit li > img:nth-child(1) {
  /* first <img> child of <div> */
  filter: alpha(opacity=100); /* IE stuff */
  opacity: 1;
  z-index: 2;
}
.user-profile_edit li > img:nth-child(2) {
  /* second <img> child of <div> */
  filter: alpha(opacity=0); /* IE stuff */
  opacity: 0;
  z-index: 1;
}

.user-profile_edit li:hover > img:nth-child(1) {
  filter: alpha(opacity=0);
  opacity: 0;
  z-index: 1;
}
.user-profile_edit li:hover > img:nth-child(2) {
  filter: alpha(opacity=100);
  opacity: 1;
  z-index: 2;
}

.add-a-post {
  position: absolute;
  font-size: 1rem;
  color: #ffa6e1;
  text-shadow: 0.2rem 0.2rem #30f2f5;
  transform: translate(70%);
  cursor: pointer;
}

@media screen and (min-width: 736px) {
  .user-profile {
    padding-left: calc(10vw);
    padding-right: calc(10vw);
    flex-direction: row;
  }
  .user-profile_image {
    width: 12rem;
    height: 12rem;
  }
  .add-a-post {
    font-size: 2rem;
    transform: translate(45%);
  }
}
