.add-place-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.add-post-image-upload__preview {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: calc(30rem + 20vw);
  min-height: 30rem;
  max-width: 90vw;
  border: 1px solid #ccc;
}

.add-post-image-upload__preview img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.add-place-description textarea {
  width: calc(30rem + 20vw);
  max-width: 90vw;
}
