.update-post_image {
  object-fit: cover;
  height: 60vw;
}

.update-post_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60vw;
  padding-bottom: 2rem;
}

.update-post_description {
  width: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .update-post_image {
    height: 80vw;
  }

  .update-post_form {
    width: 80vw;
  }
}
