.update-post {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.update-post_images {
  width: calc(30rem + 20vw);
  max-width: 90vw;
  min-height: 30rem;
}

.update-post_images img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.update-post_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60vw;
  padding-bottom: 2rem;
}

.update-post_description {
  display: flex;
  justify-content: center;
  align-items: center;
}

.update-post_description textarea {
  width: calc(30rem + 20vw);
  max-width: 90vw;
}

@media screen and (max-width: 768px) {
  .update-post_image {
    height: 80vw;
  }

  .update-post_form {
    width: 80vw;
  }
}
