.form-control {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: calc(15rem + 5vw);
  margin: 1rem 0;
  font-size: 1.4rem;
}

.form-control label,
.form-control input {
  display: block;
  height: 2rem;
  width: 100%;
}

.form-control label {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.form-control input,
.form-control textarea {
  width: 100%;
  font: inherit;
  border: 1px solid #ccc;
  background: #f8f8f8;
  padding: 0.15rem 0.25rem;
}

.form-control textarea {
  height: 10rem;
}

.form-control input:focus,
.form-control textarea:focus {
  outline: none;
  background: #ebebeb;
  border-color: #510077;
}

.form-control--invalid label,
.form-control--invalid p {
  color: red;
}

.form-control--invalid input,
.form-control--invalid textarea {
  border-color: red;
  background: #ffd1d1;
}
