.post-holder {
  justify-content: space-around;
  cursor: pointer;
  background: #f7f7f7;
  border: 1px solid #efefef;
  width: calc(10rem + 15vw);
  height: calc(10rem + 15vw);
  overflow: hidden;
}

.post-holder img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: black;
}
