.post-holder {
  justify-content: space-around;
  cursor: pointer;
  background: #f7f7f7;

  width: 100%;
  overflow: auto;
  margin-bottom: 2rem;
  background: white;
}

.post-holder img {
  width: 100%;
  color: black;
}
