.logo-main {
  margin-left: 3vw;
  color: #03dcff;
  text-shadow: 0.2rem 0.2rem #ff5bfd;
  font-weight: 700;
  font-size: calc(1.5rem + 2vw);
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .logo-main {
    text-shadow: 0.1rem 0.1rem #ff5bfd;
  }
}
