* {
  box-sizing: border-box;
}

html {
  font-family: "Open Sans", "Noto Sans KR", sans-serif;
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
}

body a {
  text-decoration: none;
}

.center {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
