.auth-container {
  position: relative;

  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.auth-side {
  height: 100%;
}

.auth-logo {
  color: #03dcff;
  text-shadow: 0.2rem 0.2rem #ff5bfd;
  font-weight: 700;
  font-size: calc(3rem + 2vw);
  cursor: pointer;
}

.auth-side img {
  object-fit: cover;
  height: 100%;
}

.auth-form {
  margin: 2rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.switch {
  background: #90b69e;
  width: calc(15rem + 5vw);
}

.switch:hover,
.swtich:focus {
  background: #90b69e;
}

.submit {
  background: #e2bbca;
  width: calc(15rem + 5vw);
}

.submit:hover,
.submit:focus {
  background: #e2bbca;
}
